{% extends "yuzzaz/besa.html" %}
{% load static %}
{% block title %}Waitlist Users{% endblock %}
{% block location %}Waitlist Users{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block section %}Waitlist Users{% endblock %}
{% block content %}

<div class="form-side">
  <div class="login-form">
    <h1>Waitlist Users</h1>
    <a href="{% url 'email_template_list' %}" class="sold-out-badge">
      <i class="bi bi-envelope"></i>
      Reach 'em out 
    </a>

    <div class="table-container">
      <div class="table-responsive">
          <table>
              <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Actions</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
              {% for user in users %}
              <tr>
                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                  <td>{{ user.tel1 }}</td>
                  <td class="action-icons">
                      <a href="tel:{{ user.tel1 }}" class="btn btn-primary">
                          <i class="bi bi-telephone"></i>
                      </a>
                  </td>
                  <td>{{ user.email }}</td>
                  <td class="action-icons">
                      <a href="mailto:{{ user.email }}" class="btn btn-primary">
                          <i class="bi bi-envelope"></i>
                      </a>
                  </td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="5" style="text-align: center;">No waitlist users found.</td>
              </tr>
              {% endfor %}
          </table>
      </div>
  </div>
  
  </div>
</div>

{% endblock %}
