{% extends "yuzzaz/besa.html" %}
{% load static %}
{% block title %}Basics{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}
{% block section %}Basics{% endblock %}

{% block hero %}

<div class="hero-container position-relative text-white text-center">
  <video autoplay muted loop playsinline class="hero-video">
    <source src="{% static 'assets/videos/hero-video.mp4' %}" type="video/mp4" autoplay muted loop playsinline>
    Your browser does not support the video tag.
  </video>
  <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3 fw-bold">GOD · GOALS · GLORY</h1>
    <p class="lead">Strive for greatness, guided by faith and purpose.</p>
    <a href="#explore" class="btn btn-primary btn-lg mt-3">Explore More</a>
  </div>
</div>

{% endblock %}
{% block content %}

<div class="container">
  <!-- Add your content here -->
  <h1>Welcome {{user.first_name}}!</h1>
  <p>Shop with us</p>

  <br>
</div>
<div class="container my-5">
  <!-- <h1 class="text-center mb-4">BASICS - Trikko</h1> -->
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <!-- Card 1: Navy Blue Core Hoodie -->
    {% for product in products %}
    <div class="col">
      <div class="card h-100">
        {% if product.status == 'sold_out' %}
        <span class="sold-out-badge">SOLD OUT</span>
        {% endif %}

        <div class="imeji">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="{% url 'product_detail' product.id %}">
            <h5 class="card-title">
              {{ product.name }}
            </h5>
          </a>

          <p class="card-text">TZS. {{ product.price }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col">
      <div class="card h-100">
        <div class="imeji">
          <img src="{% static 'assets/images/single-image-2.jpg' %}" class="card-img-top" alt="Navy Blue Core Hoodie">
        </div>
        <div class="card-body">
          <h5 class="card-title">SOMETHING GOOD INCOMING</h5>
          <p class="card-text">0.00</p>
        </div>
      </div>
    </div> {% endfor %}


    <!-- Card 2: Grey Core Hoodie -->
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'assets/images/single-image-2.jpg' %}" class="card-img-top" alt="Grey Core Hoodie">
        <div class="card-body">
          <h5 class="card-title">GREY CORE HOODIE</h5>
          <p class="card-text">€70,00 EUR</p>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}