{% extends "yuzzaz/besa.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block location %}Products{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/list2.css' %}">
{% endblock %}
{% block section %}Products{% endblock %}
{% block content %}
<div class="form-side">
  <div class="login-form">
    <h1>Products</h1>
    <a href="{% url 'add_product' %}" class="sold-out-badge">➕ New</a>
    <div class="table-container">
      <div class="table-responsive">
          <table>
              <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Actions</th>
                  <th></th>
              </tr>
              {% for product in product %}
              <tr>
                  <td>{{ product.name }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.quantity }}</td>


                </td>
                  <td class="action-icons">
                      <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">
                          <i class="bi bi-pencil"></i>
                      </a>
                  </td>
                  <td>
                      <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">
                          <i class="bi bi-trash"></i>
                      </a>
                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
